/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

nav .nav-bar-padding{
    padding-top: 8px;
}

/*Adjust the logo a little a smaller device screen*/
@media only screen and (max-width: 993px) {
    nav .brand-logo{
        padding-top: 32px;
    }
}

.card-arrange{
    padding-top: 24px;
}
.card.small{
    height: 150px;
    border-radius: 25px;
    box-shadow: 5px 8px #d2d2d2
}